@use 'index.scss';
@use 'abstracts/mixins' as *;

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

html {
  overflow-x: hidden;
  @include custom-scrollbar;

  &:has(.modal.active) {
    overflow-y: hidden;
    padding-right: 12px;

    app-header {
      padding-right: 132px;
    }
  }
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.main {
  flex: 1 1 auto;
  display: block;
}

app-footer {
  flex-shrink: 0;
}
